@model Imovel

<div class="form-group">
    <label asp-for="Numero"></label>
    <input asp-for="Numero" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="AreaUtil"></label>
    <input asp-for="AreaUtil" class="form-control" />
</div>
<!--<div class="form-group">
    <label asp-for="Tipo"></label>
    <select asp-for="Tipo" class="form-control"
            asp-items="">
        <option>Selecione</option>
    </select>
</div>-->